.title {
  text-align: center;
  font-weight: bold;
  color: #FFF;
}
  table {
    border-collapse: collapse;
    width: 100%;
    background: #FFF;
}
td, th {
    text-align: left;
    padding: 8px;
}
